body {
 
  font-family: 'Manrope', sans-serif;

}
/* Nav section */
.navbar-ver{
  background-color:#73A9AD
}

/* Hero Section */

#Hero-Section {
  background-color:#90C8AC
}
.btn-line{
  border-color: #C4DFAA;
  color: white;
  border-width:2px;
  
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.text_color{
  color: #73A9AD;
}
.btn_color{
  background-color: #C4DFAA;
}
.bg_fondo{
  background-color: #90C8AC;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
